<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Proyecto Final de Angular</title>
        <link rel="stylesheet" href="formulario.component.scss"/>
    </head>
    <body>
       <div id="container">
         <header>
            <h1>Proyecto Final de Angular de Oscar Gonzalez</h1>
          </header>
          <input type="text" name="tarea" [(ngModel)]="usuario" placeholder="Usuario">
          &nbsp;
          <input type="text" name="tarea" [(ngModel)]="descripcion" placeholder="Descripcion">
          &nbsp;
          <button (click)="procesar()" >Agregar Tarea</button>
       </div>
       <div class="clearfix"></div>
    </body>
</html>
